- if timelines.any?
  %section.cd-container#cd-timeline
    - timelines.each do |event|
      .cd-timeline-block
        .cd-timeline-img{ class: "#{check_state(event.start_date)}" }
          = image_tag("cd-icon-location.svg")

        .cd-timeline-content
          %h2 #{event.name}

          %span.cd-date #{event.start_date.strftime("%B %d")}
